body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: black;
    display: block;
}


/* ======================================== RESPONSIVENESS ============================================ */
/* ====== Smartphones ===== */
@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
    }
}

@media only screen and (max-heigth: 480px){
    canvas {
        height: 100vh;
    }

}
