* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 16px;
    background-image: url('./img/5_background/second_half_background.png');
    background-position: center;
}

canvas {
    background-color: black;
    display: block;
    box-shadow: 0 0 0 10px orange;
}

.gameContainer {
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: calc((100vh - 480px) / 2);
}

.startScreen, .loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem 2rem;
}

.loadingScreen {
    display: none;
    justify-content: center;
    background-image: none;
    background-color: orange;
    backdrop-filter: blur(50px);
}

.upperScreen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.upperScreen img {
    height: 30px;
    width: 30px;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.icons img {
    cursor: pointer;
}

.startGameContainer {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: #FFDE02;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startGameContainer:hover {
    cursor: pointer;
    box-shadow: 0 0 5px grey;
}

.startGame > div {
    font-size: 1.2rem;
    font-family: 'Alfa Slab One';
}

/* =================================== LOADING ANIMATION ======================================= */
.loader-wrapper {
    width: 25px;
    height: 25px;
    display: none;
}

.loader-wrapper .loader {
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    }

.loader-wrapper .loader-outer {
    border-top-color: orange;
    border-bottom-color: orange;
}

.loader-wrapper .loader-inner {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(360deg);
    }
    50% {
        transform: scale(0.8) rotate(-360deg);
    }
}








.lowerScreen {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lowerScreen > div {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.lowerScreen img {
    height: 40px;
    width: 40px;
}

.lowerScreen > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lowerScreenLeftSide {
    justify-content: flex-start;
    gap: 15px;
}

.lowerScreenRightSide {
    justify-content: flex-end;
}

.lowerScreenLeftSide > div {
    border-radius: 12px;
}

.lowerScreenRightSide > div {
    border: 3px solid black;
    border-radius: 10px;
    padding: 4px;
}

.lowerScreenRightSide > div > img {
    height: 30px;
    width: 30px;
}

.controls {
    display:  none;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;   
    backdrop-filter: blur(15px);
    padding: 50px;
}

.controls > div:first-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.controls > div:first-of-type > img {
    height: 30px;
    width: 30px;
}

.controls > div:first-of-type > img:hover {
    box-shadow: 0 0 5px 0 black;
}

.controls > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls > div > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls img {
    height: 50px;
    width: 50px;
}

.icon > div {
    display: flex;
    gap: 10px;
}

.icon > div > div {
    font-size: 4rem;
}

.icon p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-family: 'Alfa Slab One';
}

.gameOverScreen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    width: 100%;
    height: 100%;  
    background-image: url('img/9_intro_outro_screens/game_over/game over.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    backdrop-filter: blur(10px);
}

 .gameOverScreenBtns {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: #FFDE02;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameOverScreenBtns:hover {
    cursor: pointer;
    box-shadow: 0 0 5px grey;
}

.gameOverScreenBtns > div {
    font-size: 1.2rem;
    font-family: 'Alfa Slab One';
    text-align: center;
}

/* ======================================== RESPONSIVENESS ============================================ */
/* ====== Smartphones ===== */
@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
    }
}

@media only screen and (max-heigth: 480px){
    canvas {
        height: 100vh;
    }

}
